<!-- Main Tab Container -->
<div 
  #tabContainer
  class="tab-container"
  [ngClass]="containerClasses"
  [attr.data-orientation]="orientation"
  [attr.data-variant]="variant"
  [attr.data-size]="size">
  
  <!-- Tab List Navigation -->
  <div 
    #tabList
    class="tab-list"
    [ngClass]="tabListClasses"
    [id]="accessibility.tabListId"
    role="tablist"
    [attr.aria-label]="accessibility.ariaLabel"
    [attr.aria-labelledby]="accessibility.ariaLabelledBy"
    [attr.aria-orientation]="orientation">
    
    <!-- Individual Tab Buttons -->
    <button
      *ngFor="let tab of tabs; let i = index; trackBy: trackByTabId"
      type="button"
      class="tab-item"
      [ngClass]="getTabClasses(i)"
      [id]="getTabId(i)"
      [attr.data-tab-index]="i"
      [attr.data-tab-id]="tab.id"
      role="tab"
      [attr.aria-selected]="isTabActive(i)"
      [attr.aria-controls]="getTabPanelId(i)"
      [attr.aria-disabled]="tab.disabled"
      [attr.tabindex]="getTabIndex(i)"
      [disabled]="tab.disabled"
      (click)="onTabClick(i, $event)"
      (focus)="onTabFocus(i, $event)"
      (blur)="onTabBlur(i, $event)">
      
      <!-- Tab Icon -->
      <span *ngIf="hasIcon(tab)" class="tab-icon">
        <ng-container *ngIf="isString(tab.icon); else iconTemplate">
          <i [class]="getIconClass(tab)"></i>
        </ng-container>
        <ng-template #iconTemplate>
          <ng-container *ngTemplateOutlet="$any(tab.icon)"></ng-container>
        </ng-template>
      </span>
      
      <!-- Tab Label -->
      <span class="tab-label">{{ tab.label }}</span>
    </button>
  </div>
  
  <!-- Tab Content Panels -->
  <div 
    #tabContent
    class="tab-content"
    [ngClass]="tabContentClasses">
    
    <!-- Individual Tab Panels -->
    <div
      *ngFor="let tab of tabs; let i = index; trackBy: trackByTabId"
      class="tab-panel"
      [ngClass]="getTabPanelClasses(i)"
      [id]="getTabPanelId(i)"
      role="tabpanel"
      [attr.aria-labelledby]="getTabId(i)"
      [attr.tabindex]="isTabActive(i) ? 0 : -1"
      [attr.hidden]="!isTabActive(i) && !keepAlive"
      [style.display]="!shouldShowTabContent(i) ? 'none' : null">
      
      <!-- Tab Panel Content -->
      <div 
        *ngIf="shouldShowTabContent(i)"
        class="tab-panel-inner"
        [@fadeIn]="animated && isTabActive(i)"
        [@slideIn]="animated && isTabActive(i)">
        
        <!-- Custom Content Template -->
        <ng-container *ngIf="isTemplate(tab.content); else defaultContent">
          <ng-container *ngTemplateOutlet="$any(tab.content); context: { 
            $implicit: tab, 
            index: i,
            active: isTabActive(i)
          }"></ng-container>
        </ng-container>
        
        <!-- Default Content -->
        <ng-template #defaultContent>
          <ng-container *ngIf="tab.content">
            {{ tab.content }}
          </ng-container>
        </ng-template>
        
        <!-- Content Children (if no tab.content) -->
        <ng-container *ngIf="!tab.content && contentTemplates && contentTemplates.get(i)">
          <ng-container *ngTemplateOutlet="contentTemplates.get(i); context: { 
            $implicit: tab, 
            index: i,
            active: isTabActive(i)
          }"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>