<button
  [type]="type"
  [class]="computedClasses"
  [disabled]="isDisabled"
  [attr.aria-disabled]="isDisabled"
  [attr.aria-label]="ariaLabel"
  (click)="onButtonClick($event)"
>
  <!-- Loading Spinner -->
  <div *ngIf="loading" class="loading-spinner"></div>
  
  <!-- Left Icon Slot -->
  <span *ngIf="iconPosition === 'left'" class="icon">
    <ng-content select="[slot=icon-left]"></ng-content>
  </span>
  
  <!-- Content -->
  <ng-content *ngIf="!iconOnly"></ng-content>
  
  <!-- Right Icon Slot -->
  <span *ngIf="iconPosition === 'right'" class="icon">
    <ng-content select="[slot=icon-right]"></ng-content>
  </span>
  
  <!-- Icon Only Content -->
  <ng-content *ngIf="iconOnly" select="[slot=icon]"></ng-content>
</button>